form {
	max-width: 40rem;
	margin: 2rem auto;
	padding: 4rem 2rem;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem;
}

textarea {
	font-family: inherit;
	width: 100%;
	padding: 1rem;
	border-radius: 10px;
}

.name {
	width: calc(50% - 1.5rem);
}

input {
	font-family: inherit;
	width: 100%;
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid rgb(0, 0, 0, 0.3);
}

button {
	width: 30%;
	font-size: 1.2rem;
	margin-left: auto;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.5rem;
	display: block;
	color: white;
	background-color: black;
	transition: all 0.25s ease;
}

button:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}